* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  vertical-align: bottom;
  background: transparent;
  list-style: none;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html{
  font-size: 90%;
  color: #585858;
}
body, html {
  background-color: #FAFAFA;
  font-family: -apple-system,
  BlinkMacSystemFont,
  "Helvetica Neue",
  Arial,
  "PingFang SC",
  "Hiragino Sans GB",
  STHeiti,
  "Microsoft YaHei",
  "Microsoft JhengHei",
  "Source Han Sans SC",
  "Noto Sans CJK SC",
  "Source Han Sans CN",
  "Noto Sans SC",
  "Source Han Sans TC",
  "Noto Sans CJK TC",
  "WenQuanYi Micro Hei",
  SimSun,
  sans-serif;
}
.clear-fix::before,
.clear-fix::after {
  content: '';
  display: block;
  clear: both;
}
.clear-fix{
  zoom:1;
}

a {
  text-decoration: none;
}

.page-wrapper {
  height: 100%;
}

aside {
  position: fixed;
  min-height: 465px;
  z-index: 100;
  background: #202021;
  background-image: -webkit-linear-gradient(to bottom, #dcd1e6, #d9cde6, #d5c8e6, #d1c4e7, #ccc0e7);
  background-image: linear-gradient(to bottom, #dcd1e6, #d9cde6, #d5c8e6, #d1c4e7, #ccc0e7);
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  text-align: left;
}

@media screen and (max-width: 768px) {
  aside {
    bottom: auto;
    right: 0;
    width: 100%;
    height: 50px;
    min-height: inherit;
    background-image: -webkit-linear-gradient(to right, #dcd1e6, #d9cde6, #d5c8e6, #d1c4e7, #ccc0e7);
    background-image: linear-gradient(to right, #dcd1e6, #d9cde6, #d5c8e6, #d1c4e7, #ccc0e7);
  }
}

.page-wrapper aside .myname {
  display: block;
  margin: 35px 5px;
  color: #FAFAFA;
  font-size: 30px;
  text-align: center;
  font-weight: 200;
}

aside .nav li {
  display: block;
  font-size: 18px;
  background-image: -webkit-linear-gradient(
    left,
    transparent 50%,
    rgba(123, 185, 166, 0.15) 50%
    );
 /* background-image: linear-gradient(
    to right,
    transparent 50%,
    rgba(233, 30, 99, 0.69) 50%
    );*/
    background-size: 200%;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
  }

  aside .nav li:hover {
    background-position: -100%;
  }

  aside .nav li a {
    font-size: inherit;
    display: block;
    color: #fff;
    font-weight: 400;
    margin: 10px 0 10px 30px;
    padding: 10px;
  }

  aside .nav li a.selected {
    color: #86bdaf;
  }

  aside .nav li a:hover {
    color: #86bdaf;
  }

  aside .nav li a .eng-small {
    font-size: 12px;
    font-weight: 300;
    vertical-align: middle;
  }

  @media screen and (min-width: 768px) {
    .nav li:before {
      float: left;
      color: #999;
      font-size: 14px;
      margin: 2px 5px 0 0;
    }
  }

  #footer {
    position: absolute;
    padding-left: 30px;
    margin-left: 10px;
    bottom: 0;
  }

  footer .logo {
    margin-bottom: 10px;
  }

  footer .logo a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #fff;
    color: #000;
    opacity: 0.5;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    overflow: hidden;
  }
  .r-mayun{
    background-color: #fff;
    color: #000;
    opacity: 0.5;

  }
  .r-mayun>img{
    width: 24px;
    vertical-align: middle;
  }


  footer .logo a:hover {
    -webkit-animation: 0.8s ease-in rubberBand;
    animation: 0.8s ease-in rubberBand;
    opacity: 1;
  }

  footer .source {
    font-size: 10px;
    text-align: center;
    color: #999;
    margin-bottom: 10px;
  }

  footer .source a {
    font-size: 12px;
    color: #999;
    margin-left: 10px;
  }

  @media screen and (max-width: 768px) {
    .page-wrapper aside .myname {
      display: inline-block;
      font-size: 24px;
      line-height: 50px;
      padding: 0;
      margin: 0 0 0 20px;
    }
    aside .menu {
      float: right;
      position: relative;
      z-index: 1;
      padding: 13px 30px;
      display: inline-block;
      cursor: pointer;
      vertical-align: middle;
      transition-property: opacity, -webkit-filter;
      -webkit-transition-property: opacity, -webkit-filter;
      transition-property: opacity, filter;
      transition-property: opacity, filter, -webkit-filter;
      -webkit-transition-duration: .15s;
      transition-duration: .15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
    }

    .menu .menubox {
      width: 30px;
      height: 24px;
      position: relative;
    }

    .menubox .menuinner {
      -webkit-transition-duration: .3s;
      transition-duration: .3s;
      -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
      top: 50%;
      margin-top: -2px;
    }

    .menuinner, .menuinner::before, .menuinner::after {
      width: 30px;
      height: 3px;
      background-color: #fff;
      border-radius: 3px;
      position: absolute;
      transition-property: -webkit-transform;
      -webkit-transition-property: -webkit-transform;
      transition-property: transform;
      transition-property: transform, -webkit-transform;
      -webkit-transition-duration: .15s;
      transition-duration: .15s;
      -webkit-transition-timing-function: ease;
      transition-timing-function: ease;
    }

    .menuinner::before {
      top: -8px;
      -webkit-transition: top .1s .34s ease-in, opacity .1s ease-in;
      transition: top .1s .34s ease-in, opacity .1s ease-in;
    }

    .menuinner::after {
      transition: bottom .1s .34s ease-in,
      -webkit-transform .3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      -webkit-transition: bottom .1s .34s ease-in,
      -webkit-transform .3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      transition: bottom .1s .34s ease-in,
      transform .3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      transition: bottom .1s .34s ease-in,
      transform .3s cubic-bezier(0.55, 0.055, 0.675, 0.19),
      -webkit-transform .3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      bottom: -8px;
    }

    .menuinner::before, .menuinner::after {
      content: "";
      display: block;
    }

    .active .menubox .menuinner {
      -webkit-transform: rotate(225deg);
      transform: rotate(225deg);
      -webkit-transition-delay: .14s;
      transition-delay: .14s;
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .active .menuinner::before {
      top: 0;
      opacity: 0;
      -webkit-transition: top .1s ease-out, opacity .1s .14s ease-out;
      transition: top .1s ease-out, opacity .1s .14s ease-out;
    }

    .active .menuinner::after {
      bottom: 0;
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
      transition: bottom .1s ease-out,
      -webkit-transform .3s .14s cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transition: bottom .1s ease-out,
      -webkit-transform .3s .14s cubic-bezier(0.215, 0.61, 0.355, 1);
      transition: bottom .1s ease-out,
      transform .3s .14s cubic-bezier(0.215, 0.61, 0.355, 1);
      transition: bottom .1s ease-out,
      transform .3s .14s cubic-bezier(0.215, 0.61, 0.355, 1),
      -webkit-transform .3s .14s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    footer {
      position: fixed;
      top: 50px;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.9);
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all 150ms ease-in;
      transition: all 150ms ease-in;
    }

    .active footer {
      opacity: 1;
      visibility: visible;
    }
  }

  @-webkit-keyframes rubberBand {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }

    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }

    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }

    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }

    65% {
      -webkit-transform: scale3d(.95, 1.05, 1);
      transform: scale3d(.95, 1.05, 1);
    }

    75% {
      -webkit-transform: scale3d(1.05, .95, 1);
      transform: scale3d(1.05, .95, 1);
    }

    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }


  .content:not(.visible) {
    display: none;
  }

  .content {
    width: 100%;
    padding-left: 250px;
  }

  #contact .main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
  }

  .wrapper>li {
    display: flex;
    margin: 30px 0;
    font-size: 40px;
    align-items: center;
  }
  .wrapper>li:last-child{
    font-size: 100%;
    margin: 0;
  }
  .wrapper>li .icon {
    display: flex;
    width: 60px;

    align-items: center;
  }

  .wrapper>li i {
    font-size: 40px;
  }

  .wrapper>li span {
    transition: all 0.3s ease-in;
    font-size: 30px;
    font-weight: 300;
  }

  .wrapper>li.wechat img {
    width: 200px;
  }

  .wrapper>li span:hover {
    color: #E91E63;
  }

  .container {
    position: relative;
    width:100%;
    margin:0;
    padding:0;
    text-align: center;
  }

  .container .title {
    font-size: 50px;
    font-weight: 200;
    color: #252728;
    margin-top: 0;
    margin-bottom: 55px;
    line-height: 1;
    letter-spacing: 0.1em;
    padding-top: 50px;
  }

  .container .description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .description .des-chunk {
    margin: 0 50px;
    -ms-flex-preferred-size: calc(100% - 200px);
    flex-basis: calc(100% - 200px);
    text-align: left;
    padding: 0 1rem;
  }
  .des-chunk li {
    list-style: circle;
    margin: 1rem 0;
    line-height: 2rem;
    font-size: 1.1rem;
  }

  
  .header-bg {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background: #232526; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to left,
      #232526,
      #414345
      ); /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(right, #232526, #414345);
    background: linear-gradient(
      to left,
      #232526,
      #414345
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    text-align: center;
    height: 110px;
    padding: 2em 0px ;
    border-bottom: 1px solid #edeeee;
  }
  header{
    position: relative;
    z-index: 10;
    padding-top: 2em;
  }
  header>img{
    width:175px; 
    height:175px;
    border-radius:50%;
  }
  header h1 {
    font-size: 35px;
    color: #252728;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1;
    letter-spacing: 0.1em;
  }
  .cbp_tmlabel.about-cbp li{
    list-style-type: disc; 
  } 
  .cbp_tmlabel.about-cbp p{
    font-size: 14px;
    text-align: left;
    margin: 5px 0;
    padding: 0;

  }
  .cbp_tmlabel.about-cbp{
    margin: 30px auto;
    max-width: 650px;
    text-align: left;
    padding-bottom: 14px;
  }
  .cbp_tmlabel.about-cbp ul{
   padding-left: 2em;
 }
 header h1.title {
  margin-top: 0;
  color: #fafafa;
}

header p {
  text-align: center;
  color: #252728;
  font-size: 16px;
  line-height: 1.6em;
  letter-spacing: 1px;
  font-weight: 300;
  margin: 1.7em;
}

.des-chunk span {
  font-weight: 400;
  background: #EEEEEE;
  margin: 1em;
  border: 1px solid #cfd8dc;
  border-radius: 3px;
  margin: 0;
  color: #2196f3;
}



.highlight.important {
  color: #E91E63;
}

header img {
  width: 175px;
}

.cbp_tmtimeline {
  padding: 0;
  list-style: none;
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}

.cbp_tmtimeline > li {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

/* The date/time */
.cbp_tmlabel time {
  font-size: 1.0em;
  position: absolute;
  top: 0px;
  line-height: 64px;
  right: 5px;
  margin-right: 1em;
  color: #a5a7aa;
}

/* The card */
.cbp_tmlabel {
  background: white;
  color: rgb(78, 78, 78);
  position: relative;
  border-radius: 3px;
  border: 1px solid #edeeee;
  margin: 0 0 30px 0;
  font-weight: 400;
  font-size: 95%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 30px,
  rgba(0, 0, 0, 0.23) 0px 6px 10px;
}

.cbp_tmlabel .stack {
  vertical-align: baseline;
  background: rgba(225, 245, 254, 0.29);
  color: #2196F3;
  border: 1px solid #2196F3;
  border-radius: 3px;
  padding: 1px;
  margin-right: 5px;
  line-height: 2;
}

.cbp_tmlabel .intro-highlight {
  color: #37474F;
  font-weight: 600;
  text-decoration: underline;
}

.cbp_tmlabel h2 {
  font-weight: bold;
  font-size: 15px;
  padding: 14px 20px;
  margin: 0;
  height: 64px;
  line-height: 36px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
  border-right-color: #FFFFFF;
  display: no;
}

/** Venders Logo **/
.i-jquery:before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background: url("../logo/logo-jquery.png") 50% 50% no-repeat;
  background-size: 20px;
}

.i-react:before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background: url("../logo/logo-react.png") 50% 50% no-repeat;
  background-size: 22px;
}

.i-redux:before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background: url("../logo/redux.png") 50% 50% no-repeat;
  background-size: 22px;
}

.i-react-router:before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background: url("../logo/react-router.png") 50% 50% no-repeat;
  background-size: 22px;
}

.i-immutable:before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background: url("../logo/immutable.png") 50% 50% no-repeat;
  background-size: 22px;
}

.i-saga:before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background: url("../logo/saga.png") 50% 50% no-repeat;
  background-size: 22px;
}

.i-webpack:before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background: url("../logo/webpack.png") 50% 50% no-repeat;
  background-size: 22px;
}

.i-node:before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background: url("../logo/node.png") 50% 50% no-repeat;
  background-size: 22px;
}

.i-mongo:before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background: url("../logo/mongo.png") 50% 50% no-repeat;
  background-size: 22px;
}

.cbp_tmlabel img {
  width: 100%;
  margin-bottom: 1em;
  border-top: 1px solid #eeefef;
  border-bottom: 1px solid #eeefef;
}

.cbp_tmlabel p {
  padding: 1em 0;
  margin: 0 1.5em;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.cbp_tmlabel ul {
  padding: 0em 0;
  margin: 0 1.5em;
  list-style: none;
}

.cbp_tmlabel ul li {
  padding: 0.5em 0;
}

.intro-link {
  vertical-align: baseline;
}

.intro-link:hover {
  color: orange;
}

.cbp_tmlabel ul li a:not(.intro-link):hover {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
}

@media screen and (max-width: 400px) {
  .main {
    width: 100%;
    padding-bottom: 0px;
  }
  html {
    font-size: 90%;
  }
  header p {
    font-size: 1.05em;
    letter-spacing: 0px;
    margin: 1.5em;
  }
  #contact .main{
    display: block;
    min-height: inherit;
  }
  .wrapper{
    width: 280px;
    margin: auto;
  }
  .wrapper>li{
    display: block;
    text-align: left;
    font-size: medium;
  }
  .wrapper>li span,.wrapper>li i{
    font-size: 1.5rem;
  }
  .wrapper>li .icon{
   display: inline-block;
   text-align: center;
 }
 .wrapper>li .icon>i{
  vertical-align: middle;
}
.wrapper>li.wechat img{
  width: 100px;
}
.wechat>div{
  line-height: 100px;
}
}

.pp-tableCell {
  vertical-align: middle;
  margin-top: 50px;
}

.pp-tableCell h1 {
  font-size: 50px;
  color: #252728;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 55px;
  line-height: 1;
  letter-spacing: 0.1em;
  padding-top: 50px;
}

.pp-tableCell .tag-panel {
  margin: 15px auto;
}

.tag-panel > div {
  font-size: 1.2rem;
  background-color: #607d8b;
  color: #FAFAFA;
  border-radius: 3px;
  display: inline-block;
  padding: 2px 8px;
  margin-right: 3px;
  margin-bottom: 3px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px,
  rgba(0, 0, 0, 0.23) 0px 3px 10px;
}

.tag-panel .tag.familiar {
  opacity: 0.5;
}

@media screen and (max-width: 414px) {
  .cbp_tmtimeline > li .cbp_tmlabel {
    box-shadow: none;
  }
  .contact-card .icon {
    font-size: 30px;
  }
  .contact-card span {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .content {
    padding-left: 0;
    padding-top: 50px;
  }
  .description .des-chunk {
    margin: 0 20px;
    text-align: left;
    padding: 0 1rem;
  }
}

@media screen and (max-width: 1024px) {
  .container .description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .description .des-chunk {
    flex-basis: auto;
  }
}
